@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
*,*::before,*::after{
    padding: 0;
    margin: 0;
}
html{
    font: 16px/1.5 "Open Sans",sans-serif;
    box-sizing: content-box;
}
body{
    box-sizing: inherit;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main{
    display: flex;
    flex-flow: row;
    border: 1px solid lightgray;
    width: 50%;
    height: 60%;
    box-shadow: 5px 10px 10px lightgray;
    border-radius: 0.5em;
}
.left{
    width: 50%;
    background-image: url('./image/cover.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
.right{
    width: 50%;
    background-color: white;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
.content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
}
svg{
    fill: white;
    padding-bottom: 1.5em;
    margin: 0.5em;
}
svg:hover{
    fill: blue;
}
.softuni{
    align-self: flex-start;
    color: white;
    padding-left: 2em;
    padding-top: 2em;
    font-weight: bold;
}
.welcome{
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
}
.welcome p:first-child{
    font-size: 2em;
    font-weight: 300;
}
.welcome p:nth-child(2){
    font-size: 1.5em;
    font-weight: 300;
}