body{
    background-color:  rgb(238, 238, 238);
}

.card
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 500px;
    background-color:rgb(255, 255, 255);
    font-family: Georgia, serif;
    border-radius: 2%;
    box-shadow: 0px 0px 20px 10px rgb(165, 165, 165);
}

.card .imageclass{
    height: 300px;
    position: relative;
}

img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentclass{
    position: relative;
    padding: 20px 30px 80px;
}

a{
    text-decoration: none;
    position: relative;
    color: white;
    padding: 10px 15px;
    background-color: rgb(0, 153, 0);
    border-radius: 5px;
    bottom: -20px;
    right: -330px;
    width: 90px;
    height:35px;
}

h3{
    size: 1em/1.2;
}