@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 16px/1.5 Mulish, sans-serif;
}

html {
    box-sizing: inherit;
}

body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

section {
    display: flex;
    background-image: url(./images/form-background.png);
    background-size: cover;
    align-items: center;
    width: 45vw;
    min-width: 300px;
    min-height: 500px;
    border-radius: 1.7em;
    box-shadow: 20px 10px 10px gray;
    
}

.from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.5em;
    max-width: 50%;
    height: fit-content;
}

.from h1 {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;

}

label {
    font-weight: 600;
    font-size: 0.7em;
    opacity: 0.7;
}

input {
    border-radius: 15px;
    border: 1px solid rgb(214, 214, 214);
    padding: 0.5em;
}

.input {
    margin: 0.4em 0;
    height: 2em;
    min-width: 150px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 150px;
}

button {
    width: 150px;
    height: 35px;
    font-size: 0.8em;
    margin: 2em;
    align-self: center;
    background-color: rgb(214, 61, 41);
    border-radius: 15px;
    border: 1px solid gray;
    color: white;
}
button:hover{
    color: black;
    background-color:white;
}
