body{
background-color: black;
}
.site{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 870px;
    margin: 0 auto;
    background: url(../image/fitness-main.jpg);
    background-size: 120% auto;
    background-repeat: no-repeat;
    background-position: center -5em;
}
.site-footer{
     margin-top: auto;
}